<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    <form action="/user_game/update/<%= data.id %>" method="post">
        <table>
            <tr>
                <td><label for="nama" >Nama</label></td>
                <td>:</td>
                <td><input type="text" name="nama" value="<%=data.nama %>"></td>
            </tr>
            <tr>
                <td><label for="job" >Pekerjaan</label></td>
                <td>:</td>
                <td><input type="text" name="pekerjaan" value="<%=data.pekerjaan %>"></td>
            </tr>
            <tr>
                <td><label for="hobby" >Hobby</label></td>
                <td>:</td>
                <td><input type="text" name="hobby" value="<%=data.hobby %>"></td>
            </tr>
        </table>
        <br>
        <button type="submit" >Update</button>
    </form>
</body>
</html>